<%@tipo.each do |tipo| %>
  <div class="text-center"><%= tipo.name %></div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Estado</th>
        <th scope="col">Sugerencia</th>
      </tr>
    </thead>
    <tbody>
      <% @menus.where(tipo_id: tipo).each do |menu|%>
        <tr>
          <th scope="row"><%= menu.id %></th>
          <td><%= link_to menu.name, menu_path(menu) %></td>
          <td><%= menu.price %></td>
          <% if menu.activado == true %>
            <td> SI</td>
          <% else %>
            <td>NO</td>
          <% end %>
          <% if menu.sugerencia == true %>
            <td><%= link_to "SI", sugerencia_path(menu) %></td>
          <% else %>
            <td><%= link_to "NO", sugerencia_path(menu) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
