<%= link_to new_habitacion_path do%>
  <h6 class="btn btn-success text-center">Crear Habitacion</h6>
<% end %>

<ul>
  <%@habitaciones.each do |habitacion|%>
    <%= link_to habitacion_path(habitacion) do %>
      <li><%=habitacion.name%></li>
    <% end %>
  <% end %>
</ul>

<table>
  <thead>
    <tr>
      <th>Habitacion</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%@habitaciones.each do |habitacion|%>
      <tr>
        <td> <%= link_to habitacion_path(habitacion) do %>
          <%=habitacion.name%>
        <% end %>
        </td>
       <td><%= link_to habitacion_path(habitacion), method: :delete, remote: true do %>
        Eliminar
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
