<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h3>Clientes que ingresan al resto</h3>

      <%= simple_form_for(@cliente) do |f| %>
        <%= f.input :name, label: "Nombre"%>
        <%= f.input :cinumber, label: "Ci Number"%>
        <%= f.input :tel, label: "Telefono"%>
        <%= f.input :email, label: "Email"%>
        <%= f.input :grados, label: "Grados" %>
        <div class="d-flex justify-content-center">
        <%= f.submit "Guardar"%>
        </div>
      <% end %>
      <%= link_to 'Back', root_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
