<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= simple_form_for(@tipo) do |f| %>
        <%= f.input :name, label: "Nombre"%>
        <%= f.input :activado, collection: ["Activado", "Desactivado"]%>
        <%= f.input :display, collection: ["Plato", "Picada", "Bebida", "Postre"]%>
        <div class="d-flex justify-content-center">
        <%= f.submit "Crear Category"%>
        </div>
      <% end %>
      <%= link_to 'Back', root_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
