<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h3>Carga de comprobantes</h3>

      <%= simple_form_for(@compro) do |f| %>
        <%= f.input :nro, label: "Nro de Comprobante en el extracto del banco"%>
        <% if !@compro.image.attached? %>
          <%= f.input :image, as: :file, label: "Subir comprobante" %>
        <% end %>
        <div class="d-flex justify-content-center">
        <%= f.submit "Guardar"%>
        </div>
      <% end %>
      <%= link_to 'Back', root_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
