<form action="/compros" class="form-inline d-flex justify-content-center md-form form-sm mt-15 m-3 rounded-pill">
  <input class="form-control form-control-sm ml-3 w-75" type="text" name="query" placeholder="Search"
    aria-label="Search">
  <button class="btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
</form>

<div class="col-xs-12 col-sm-12 col-md-12">
  <div style="overflow-x:auto;">
    <div class="text-center">
      <%= link_to "Cargar comprobante", new_compro_path, class: "btn btn-success text-center"%>
    </div>
  </div>
  <div class="tab-pane fade show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg">
        <div style="overflow-x:auto;">
          <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">NRO de Compro</th>
              <th scope="col">Quien envia</th>
              <th scope="col">Para que reserva/hab?</th>
              <th scope="col">Forma</th>
              <th scope="col">Monto</th>
              <th scope="col">Comprobante</th>
              <th scope="col">Status</th>
              <th scope="col">Creado por</th>
              <th scope="col">Conciliado por</th>
              <th scope="col">Cargado en el sys por</th>
            </tr>
          </thead>
          <tbody>
            <% @compros.each do |compro| %>
              <tr>
                <% if compro.nro.nil? %>
                  <td><%= link_to "Agregar", edit_compro_path(compro)%></td>
                <% else %>
                  <td><%= compro.nro %></td>
                <% end %>
                <td><%=compro.name%></td>
                <td><%=compro.comment %></td>
                <td><%=compro.forma %></td>
                <td><%=compro.monto %></td>
                <%if compro.image.attached? %>
                  <td><%=link_to "Ver comprobante", "https://res.cloudinary.com/dpjghjtp1/image/upload/v1594152130/#{compro.image.key}.jpg", target: :_blank%></td>
                <% else %>
                 <td> <%= "Sin compro" %> </td>
                <% end %>
                <% if compro.status == "no-conciliado" %>
                  <td>
                    <%= link_to conciliado_compros_path(compro), data: {confirm: "Deseas confirmar esta operacion??"} do  %>
                    <h6 class="btn btn-danger text-center">Conciliar</h6>
                    <% end %>
                  </td>
                <% else %>
                  <td><h6 class="btn btn-success text-center"><%=compro.status%></h6></td>
                <% end %>
                <td><%=compro.creado_por.upcase%></td>
                <% if compro.conciliado_por.nil? %>
                  <td></td>
                  <% else %>
                <td><%=compro.conciliado_por.upcase%></td>
                <% end %>
                <% if compro.cargado_por.nil? %>
                  <td>
                    <%= link_to cargado_por_path(compro), data: {confirm: "Deseas confirmar esta operacion??"} do  %>
                    <h6 class="btn btn-danger text-center">Cargar</h6>
                    <% end %>
                  </td>
                <% else %>
                  <td><%= compro.cargado_por.upcase%></td>
                <% end %>

              </tr>
              </div>

            <% end %>
          </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
