
<div class="container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">NO- APROBADO</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">APROBADO</a>
    </div>
<ul class="list-group">
  <li class="list-group-item">Cantidad de movimientos cargados: <%#= @transactions.count %></li>
</ul>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div style="overflow-x:auto;">
          <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Nro</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Monto</th>
              <th scope="col">Fecha de pago</th>
              <th scope="col">Aprobado</th>
              <th scope="col">Accion</th>

            </tr>
          </thead>
          <tbody>
            <% @hojas.where(aprobado: "no").each do |hoja| %>
              <tr>
                <td><%=hoja.nro%></td>
                <td><%=hoja.description %></td>
                <td><%=hoja.monto %></td>
                <td><%=hoja.fecha_pago%></td>
                  <td>
                    <%= link_to aprobado_path(hoja), data: {confirm: "Deseas confirmar esta operacion??"} do  %>
                    <h6 class="btn btn-danger text-center">No-aprobado</h6>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_hoja_path(hoja), data: {confirm: "Deseas usar este cheque??"} do  %>
                    <h6 class="btn btn-dark text-center">Usar hoja</h6>
                    <% end %>
                  </td>
              </tr>
              </div>

            <% end %>
          </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div style="overflow-x:auto;">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Nro</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Monto</th>
                <th scope="col">Fecha de pago</th>
                <th scope="col">Aprobado</th>
                <th scope="col">Aprobado por</th>
              </tr>
            </thead>
            <tbody>
              <% @hojas.where(aprobado: "si").each do |hoja| %>
                <tr>
                  <td><%=hoja.nro%></td>
                  <td><%=hoja.description %></td>
                  <td><%=hoja.monto %></td>
                  <td><%=hoja.fecha_pago%></td>
                    <td>
                      <%= link_to aprobado_path(hoja), data: {confirm: "Deseas confirmar esta operacion??"} do  %>
                      <h6 class="btn btn-success text-center">Aprobado</h6>
                      <% end %>
                    </td>
                  <td><%=hoja.aprobado_por%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
</div>


<!-- Modal -->

