<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= simple_form_for [@cheque, @hoja] do |f| %>
        <%= f.input :nro, label: "Nro del cheque"%>
        <%= f.input :description, label: "Descripcion "%>
        <%= f.input :monto, label: "Monto"%>
        <%= f.input :fecha_pago, label: "Fecha de pago"%>
        <div class="d-flex justify-content-center">
        <%= f.submit "Usar Hoja"%>
        </div>
      <% end %>
      <%= link_to 'Back', root_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
