<% if !current_user.nil? %>
  User = <%= current_user.rol %>
<% end %>

<% if !current_user.nil? %>
  <% if current_user.rol == "admin" || current_user.rol == "Administracion" %>
    <%= link_to banks_path do %>
      <h1>Bancos</h1>
    <% end %>
  <% end %>
<% end %>

<%= link_to compros_path do %>
<h1>Comprobantes de depositos</h1>
<% end %>
<h1> <%= link_to "Compras", pdcs_path %> </h1>
<h1> <%= link_to "Pagos", pagos_path %> </h1>

<% if !current_user.nil? %>
  <% if current_user.rol == "admin" %>
  <%= link_to months_path do %>
    <h1>Costo Fijo - Mega Chopp </h1>
<% end %>
<% end %>

<% end %>


<%= link_to habitacions_path do %>
<h1>Check List de habitaciones</h1>
<% end %>

<%= link_to retiros_path do %>
<h1>Retiros de Caja</h1>
<% end %>

<%= link_to menus_path do %>
<h1>Carta</h1>
<% end %>

<%= link_to covids_path do %>
<h1>Covids kuera</h1>
<% end %>
<%= link_to covids_path do %>

<h1>Restaurant </h1>
<% end %>
