<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= simple_form_for(@transaction) do |f| %>
        <%= f.input :comment, label: "Comentario"%>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <div class="d-flex justify-content-center">
        <%= f.submit "Editar"%>
        </div>
      <% end %>
      <%= link_to 'Back', :back, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
