<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= simple_form_for(@transaction) do |f| %>
        <%= f.input :date %>
        <%= f.input :importe_debito, label: "Debito"%>
        <%= f.input :importe_credito, label: "Credito"%>
        <%= f.input :comprobante, label: "Comentario"%>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <div class="d-flex justify-content-center">
        <%= f.submit "Guardar cambios"%>
        </div>
      <% end %>
      <%= link_to 'Back', :back, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
