<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= simple_form_for [@bank, @cheque] do |f| %>
        <%= f.input :name, label: "Nombre identificatorio"%>
        <%= f.input :nro_inicial, label: "Numeracion Inicial"%>
        <%= f.input :nro_final, label: "Numeracion final"%>
        <div class="d-flex justify-content-center">
        <%= f.submit "Crear Chequera"%>
        </div>
      <% end %>
      <%= link_to 'Back', root_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
